[submodule "vc"]
	path = vc
	url = https://github.com/KNowledgeOnWebScale/vc-prototyping-library.git
[submodule "secuweb-anchors"]
	path = secuweb-anchors
	url = https://github.com/gertjandemulder/anchoring.git
