VC_LIB=${PWD}/vc
ANCHOR_REPO=${PWD}/secuweb-anchors
VC_MODE=solid
VC_CONFIG=${VC_LIB}/test/configs/solid-config.json
VC_UNSIGNED=${VC_LIB}/test/resources/unsigned/alice-university.jsonld
VC_OUT=${PWD}/data/vcs/alice-university-vc.jsonld
SUBJECT_DID=did:secuweb:product:batch123
METADATA_URI=
